<div class="container margin-top-50">
	<div class="col-md-12 center-block">
		<div class="row">
			<div class="col-lg-4">

				<div class="input-group margin-bottom-50">
					<input type="text" ng-model="name" placeholder="Locations loaded via $http" uib-typeahead="address for address in getLocation($viewValue)"
						typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control">

					<i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
					<div ng-show="noResults">
						<i class="glyphicon glyphicon-remove"></i> No Results Found
					</div>
					<span class="input-group-btn">
              <button class="btn btn-default" type="button" ng-click="getWeatherData(name)">Go!</button>
            </span>
				</div>
			</div>
      	<div class="col-md-8">
				<table class="table-striped table-responsive" border="1" cellpadding='10' cellspacing="10" data-ng-if="citiData.length >0">
					<thead>
						<tr>
							<th>S.no</th>
							<th>country</th>
							<th>Capital</th>
							<th>Lattitude</th>
							<th>Langitude</th>
							<th>Weather Report</th>
							<th>Climate Report</th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="point in citiData">
							<td>{{$index+1}}</td>
							<td>{{point.country}}</td>
							<td>{{point.name}}</td>
							<td>{{point.lattitude}}</td>
							<td>{{point.langitude}}</td>
							<td>{{point.description}}</td>
							<td>{{point.climateReport}}</td>
						</tr>
					</tbody>
				</table>
			</div>
        <div>
				<ng-map zoom="1">
					<div data-ng-repeat="point in citiData track by $index">
						<marker position="{{point.lattitude}}, {{point.langitude}}"></marker>
					</div>
				</ng-map>
			</div>
		

		</div>
		<div>
		</div>