<div class="container margin-top-50">
	<div class="col-md-12 center-block">
		<div class="row">
			<div class="col-lg-12">

				<div class="input-group margin-bottom-50">
					<input type="text" ng-model="name" placeholder="Locations loaded via $http" uib-typeahead="address for address in getLocation($viewValue)"
						typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control">

					<i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
					<div ng-show="noResults">
						<i class="glyphicon glyphicon-remove"></i> No Results Found
					</div>
					<span class="input-group-btn">
              <button class="btn btn-default" type="button" ng-click="getWeatherData(name)">Go!</button>
            </span>
				</div>
				<div class="col-lg-12">
					 <map zoom="4" center="11.42, -86.247">
              <marker ng-repeat="pos in citiData" position="{{pos.latitude}}, {{pos.longitude}}" ></marker>
            </map>
				</div>
			</div>
		</div>
		<div>
		</div>